<div class="container mt-3">
  <h3>Add New Part</h3>
  <form (ngSubmit)="add()">
    <input class="form-control mb-2" [(ngModel)]="part.name" name="name" placeholder="Name" required />
    <input class="form-control mb-2" [(ngModel)]="part.type" name="type" placeholder="Type" required />
    <input class="form-control mb-2" type="number" [(ngModel)]="part.price" name="price" placeholder="Price" required />
    <input class="form-control mb-2" type="number" [(ngModel)]="part.quantity" name="quantity" placeholder="Quantity" required />
    <button class="btn btn-primary" type="submit">Add Part</button>
  </form>
</div>
